In [39]:
import pandas as pd
import csv

#Test CSV
#dfA = pd.read_csv(r'C:\Users\glp62\Documents\SheetFighter\A.csv')
#dfB = pd.read_csv(r'C:\Users\glp62\Documents\SheetFighter\B.csv')


Pathway1 = input(r'Insert the pathway to the table of contents.')
Pathway2 = input(r'Insert the pathway to the Fasta.')

Insert the pathway to the table of contents. C:\Users\glp62\Documents\SheetFighter\A.csv
Insert the pathway to the Fasta. C:\Users\glp62\Documents\SheetFighter\B.csv

In [40]:
Table = pd.read_csv(Pathway1)
Fasta = pd.read_csv(Pathway2)

In [41]:
# Merge based on the 'ID' column (left join)
merged_df = pd.merge(Fasta, Table, on='ID', how='left')

In [42]:
merged_df

,ID,Read count 1,Assigned allele,Read count 2,Assigned second allele
0,01H200000000001nguL-xx-VE-USA-xxxx-020-JB_S319,NaN,NaN,NaN,NaN
1,01H20000000001nguL-xx-VE-USA-xxxx-020-JB_S313,515.0,A1,507.0,A1
2,01H2000000001nguL-xx-VE-USA-xxxx-020-JB_S307,2796.0,A1,2669.0,A1
3,01H200000001nguL-xx-VE-USA-xxxx-020-JB_S301,4110.0,A1,4025.0,A1
4,01H20000001nguL-xx-VE-USA-xxxx-020-JB_S295,7130.0,A1,6953.0,A1
...,...,...,...,...,...
73,ZA09-xx-xx-xxx-xxxx-020-JB_S156,371.0,A10,355.0,A10
74,ZA15-xx-VE-MEX-xxxx-020-JB_S421,13.0,A83,12.0,A83
75,ZA15-xx-xx-xxx-xxxx-020-JB_S176,119.0,A84,107.0,A84
76,Zac46-TMPPlate2-xx-xxx-xxxx-020-JB_S357,297.0,A6,274.0,A6
77,Zac48-TMPPlate2-xx-xxx-xxxx-020-JB_S365,360.0,A89,342.0,A89

In [44]:
merged_df.to_csv(r'C:\Users\glp62\Documents\SheetFighter\SheetFighter_Output.csv', index=False)